<@page title="Login">

<script>

	loadPageScript(function(page) {

		page.message = ko.observable();
		page.emailAddress = ko.observable().extend({ required: true, email: true });
		page.password = ko.observable().extend({ required: true });

		page.login = function() {
			if (! page.isValid()) {
				return;
			}
			var temp = {
				emailAddress: page.emailAddress(),
				password: page.password()
			};
			app.ajax('POST', '/api/sessions/login', JSON.stringify(temp), function(response) {
				if (response && response.sessionToken) {
					localStorage.sessionToken = response.sessionToken;
					app.reloadCurrentUser();
				}
				if (response && response.message) {
					page.message(response.message);
				}
			});
		};

		page.isValid = ko.computed(function() {
			return page.emailAddress.isValid() && page.password.isValid();
		});
		
	});
	
</script>

<div class="login-box-body" data-bind="with: page">

	<p class="login-box-msg">Sign in to start your session</p>
	
	<div class="input-group form-group">
		<span class="input-group-addon" data-bind="css: { validationMessage : emailAddress.isModified() && ! emailAddress.isValid() }"> <i class="fa fa-fw fa-envelope"></i>
		</span> <input data-bind="textInput: emailAddress" type="text" class="form-control" name="username" placeholder="email address"></input>
	</div>
	
	<div class="input-group form-group">
		<span class="input-group-addon" data-bind="css: { validationMessage : password.isModified() && ! password.isValid() }"> <i class="fa fa-fw fa-lock"></i>
		</span> <input data-bind="textInput: password" type="password" class="form-control" name="password" placeholder="Password"></input>
	</div>
	
	<span class="login-box-msg warning" data-bind="text: message"></span>

	<div class="row">
		<div class="col-xs-8">
		</div>
		<div class="col-xs-4">
			<button type="submit" class="btn btn-primary btn-block btn-flat" data-bind="click: login, css: { invalid: ! isValid() }">Sign In</button>
		</div>
	</div>

	<div class="social-auth-links text-center">
		<p>- OR -</p>
		<a href="#" onclick="hello('facebook').login()" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Sign in using Facebook</a>
		<a href="#" onclick="hello('twitter').login()" class="btn btn-block btn-social btn-twitter btn-flat"><i class="fa fa-twitter"></i> Sign in using Twitter</a>
		<a href="#" onclick="hello('google').login()" class="btn btn-block btn-social btn-google-plus btn-flat"><i class="fa fa-google-plus"></i>Sign in using Google</a>
	</div>

	<a href="#sendPasswordEmail.html">I forgot my password</a>
	<br/>
	<a href="#signUp.html" class="text-center">Register a new membership</a>

</div>

</@page>
