<@page title="Login">

<script>
	loadPageScript(function() {

		page.message = ko.observable();
		page.emailAddress = ko.observable().extend({ required: true, email: true });
		page.password = ko.observable().extend({ required: true });

		page.login = function() {
			if (! page.isValid()) {
				return;
			}
			var temp = {
				emailAddress: page.emailAddress(),
				password: page.password()
			};
			app.ajax('POST', '/api/sessions/login', JSON.stringify(temp), function(response) {
				if (response && response.sessionToken) {
					localStorage.sessionToken = response.sessionToken;
					app.reloadCurrentUser();
				}
				if (response && response.message) {
					page.message(response.message);
				}
			});
		};

		page.isValid = ko.computed(function() {
			return page.emailAddress.isValid() && page.password.isValid();
		});
		
	});
	
</script>

<div class="container" data-bind="with: page">

	<div class="omb_login">
		<h3 class="omb_authTitle">
			Login or <a href="#signUp.html">Sign up</a>
		</h3>
		<div class="row omb_row-sm-offset-3 omb_socialButtons">
			<div class="col-xs-4 col-sm-2">
				<a href="#" class="btn btn-lg btn-block omb_btn-facebook" onclick="hello('facebook').login()"> <i class="fa fa-facebook visible-xs"></i> <span class="hidden-xs">Facebook</span>
				</a>
			</div>
			<div class="col-xs-4 col-sm-2">
				<a href="#" class="btn btn-lg btn-block omb_btn-twitter" onclick="hello('twitter').login()"> <i class="fa fa-twitter visible-xs"></i> <span class="hidden-xs">Twitter</span>
				</a>
			</div>
			<div class="col-xs-4 col-sm-2">
				<a href="#" class="btn btn-lg btn-block omb_btn-google" onclick="hello('google').login()"> <i class="fa fa-google-plus visible-xs"></i> <span class="hidden-xs">Google+</span>
				</a>
			</div>
		</div>

		<div class="row omb_row-sm-offset-3 omb_loginOr">
			<div class="col-xs-12 col-sm-6">
				<hr class="omb_hrOr">
				<span class="omb_spanOr">or</span>
			</div>
		</div>

		<div class="row omb_row-sm-offset-3">
			<div class="col-xs-12 col-sm-6">
				<form class="omb_loginForm" action="" autocomplete="off">
					<div class="input-group">
						<span class="input-group-addon" data-bind="css: { validationMessage : emailAddress.isModified() && ! emailAddress.isValid() }"><i class="fa fa-fw fa-user"></i></span> <input data-bind="textInput: emailAddress" type="text" class="form-control" name="username" placeholder="email address">
					</div>
					<span class="help-block"></span>

					<div class="input-group">
						<span class="input-group-addon" data-bind="css: { validationMessage : password.isModified() && ! password.isValid() }"><i class="fa fa-fw fa-lock"></i></span> <input data-bind="textInput: password" type="password" class="form-control" name="password" placeholder="Password">
					</div>
					<span class="help-block" data-bind="text: message"></span>

					<button class="btn btn-lg btn-primary btn-block" type="submit" data-bind="click: login, css: { invalid: ! isValid() }">Login</button>
				</form>
			</div>
		</div>
		<div class="row omb_row-sm-offset-3">
			<div class="col-xs-12 col-sm-3">
				<p class="omb_forgotPwd">
					<a href="#sendPasswordEmail.html">Forgot password?</a>
				</p>
			</div>
		</div>
	</div>

</div>

</@page>
