<@page title="Reset Password">

<script>
	loadPageScript(function(page) {

		page.message = ko.observable();
		page.emailAddress = ko.observable().extend({ required: true, email: true });

		page.sendEmail = function() {
			if (! page.isValid()) {
				return;
			}
			var temp = {
				emailAddress: page.emailAddress(),
				url: window.location.href.replace('sendPasswordEmail','resetPassword')
			};
			app.ajax('POST', '/api/passwords/sendResetEmail', JSON.stringify(temp), function(response) {
				page.message('Please check your email for instructions');
			});
		};

		page.isValid = ko.computed(function() {
			return page.emailAddress.isValid();
		});
		
	});
	
</script>

<div class="login-box-body" data-bind="with: page">

	<p class="login-box-msg">Reset your password</p>
	
	<div class="input-group form-group">
		<span class="input-group-addon" data-bind="css: { validationMessage : emailAddress.isModified() && ! emailAddress.isValid() }"> <i class="fa fa-fw fa-envelope"></i>
		</span> <input data-bind="textInput: emailAddress" type="text" class="form-control" name="username" placeholder="email address"></input>
	</div>
	
	<span class="login-box-msg warning" data-bind="text: message"></span>

	<div class="row">
		<div class="col-xs-8">
		</div>
		<div class="col-xs-4">
			<button type="submit" class="btn btn-primary btn-block btn-flat" data-bind="click: sendEmail, css: { invalid: ! isValid() }">Reset Password</button>
		</div>
	</div>

	<a href="#login.html">I remembered my password</a>
	<br/>
	<a href="#signUp.html" class="text-center">Register a new membership</a>

</div>

</@page>
