<@page title="Sign Up">

<script> loadPageScript(function(page) {

		function passwordStrength() {
			if (! page.password()) {
				return null;
			}
			var a = [];
			a.push(page.emailAddress());
			return zxcvbn(page.password(), a);
		}
	
		page.message = ko.observable();
		page.emailAddress = ko.observable().extend({ required: true, email: true });
		page.firstName = ko.observable().extend({ required: true });
		page.lastName = ko.observable().extend({ required: true });
		page.password = ko.observable().extend({ required: true }).extend({
	        validation: { 
				validator: function (value, validate) {
					if (!validate) { return true; }
					return passwordStrength().score > 1;
				},
				message: 'Weak'
			},
		});
		page.confirm = ko.observable().extend({ required: true }).extend({  // custom validator
	        validation: { 
				validator: function (value, validate) {
					if (!validate) { return true; }
					if (! page.password.isValid()) { return true; }
					return value === page.password();
				},
				message: 'Mismatched'
			}
	    });
		page.passwordStrength = ko.computed(function() {
			if (! page.password()) {
				return null;
			}
			if (! page.password.isModified()) {
				return null;
			}
			var z = passwordStrength();
			var ret = {
				percentage: (20 + (z.score * 20)) + "%"
			};
			switch(z.score) {
			case 0: ret.message = 'poor'; ret.color = 'danger'; break;
			case 1: ret.message = 'weak'; ret.color = 'danger'; break;
			case 2: ret.message = 'fair'; ret.color = 'warning'; break;
			case 3: ret.message = 'good'; ret.color = 'success'; break;
			case 4: ret.message = 'strong'; ret.color = 'success'; break;
			}
			return ret;
		});

		page.signUp = function() {
			var temp = {
				emailAddress: page.emailAddress(),
				firstName: page.firstName(),
				lastName: page.lastName(),
				password: page.password()
			};
			app.ajax('POST', '/api/users/create', JSON.stringify(temp), function(response) {
				if (response && response.sessionToken) {
					localStorage.sessionToken = response.sessionToken;
					app.reloadCurrentUser();
				}
				if (response && response.message) {
					page.message(response.message);
				}
			});
		};

		page.isValid = ko.computed(function() {
			return page.emailAddress.isValid() &&
				page.firstName.isValid() &&
				page.lastName.isValid() &&
				page.password.isValid() && 
				page.confirm.isValid();
		});

}); </script>

<div class="container" data-bind="with: page">

	<div class="omb_login">
		<h3 class="omb_authTitle">
			<a href="#login.html">Login</a> or Sign Up
		</h3>

		<div class="row omb_row-sm-offset-3 omb_loginOr">
			<div class="col-xs-12 col-sm-6">
				You can create a Market Alert account using one of these social networks:
			</div>
		</div>
		
		<div class="row omb_row-sm-offset-3 omb_socialButtons">
			<div class="col-xs-4 col-sm-2">
				<a href="#" class="btn btn-lg btn-block omb_btn-facebook" onclick="hello('facebook').login()"> <i class="fa fa-fw fa-facebook visible-xs"></i> <span class="hidden-xs">Facebook</span>
				</a>
			</div>
			<div class="col-xs-4 col-sm-2">
				<a href="#" class="btn btn-lg btn-block omb_btn-twitter" onclick="hello('twitter').login()"> <i class="fa fa-fw fa-twitter visible-xs"></i> <span class="hidden-xs">Twitter</span>
				</a>
			</div>
			<div class="col-xs-4 col-sm-2">
				<a href="#" class="btn btn-lg btn-block omb_btn-google" onclick="hello('google').login()"> <i class="fa fa-fw fa-google-plus visible-xs"></i> <span class="hidden-xs">Google+</span>
				</a>
			</div>
		</div>

		<div class="row omb_row-sm-offset-3 omb_loginOr">
			<div class="col-xs-12 col-sm-6">
				<hr class="omb_hrOr">
				<span class="omb_spanOr">or</span>
			</div>
		</div>

		<div class="row omb_row-sm-offset-3">
			<div class="col-xs-12 col-sm-6">
				<form class="omb_loginForm" action="" autocomplete="off">
				
					<div class="input-group">
						<span class="input-group-addon" data-bind="css: { validationMessage : firstName.isModified() && ! firstName.isValid() }"><i class="fa fa-fw fa-user"></i></span> <input data-bind="textInput: firstName" type="text" class="form-control" name="firstName" placeholder="first name">
					</div>
					<span class="help-block"></span>

					<div class="input-group">
						<span class="input-group-addon" data-bind="css: { validationMessage : lastName.isModified() && ! lastName.isValid() }"><i class="fa fa-fw fa-user"></i></span> <input data-bind="textInput: lastName" type="text" class="form-control" name="lastName" placeholder="last name">
					</div>
					<span class="help-block"></span>

					<div class="input-group">
						<span class="input-group-addon" data-bind="css: { validationMessage : emailAddress.isModified() && ! emailAddress.isValid() }"><i class="fa fa-fw fa-envelope"></i></span> <input data-bind="textInput: emailAddress" type="text" class="form-control" name="username" placeholder="email address">
					</div>
					<span class="help-block"></span>

					<div class="input-group" style="margin-bottom: 10px">
						<span class="input-group-addon" data-bind="css: { validationMessage : password.isModified() && ! password.isValid() }"><i class="fa fa-fw fa-lock"></i></span> <input data-bind="textInput: password" type="password" class="form-control" name="password" placeholder="Password">
					</div>

					<!-- ko if: passwordStrength() -->
					<div class="progress"  style="margin-bottom: 10px" >
						<div class="progress-bar" role="progressbar"data-bind="style: { width: passwordStrength().percentage }, css: 'progress-bar-' + passwordStrength().color ">
							<span data-bind="text: passwordStrength().message"></span>
						</div>
					</div>
					<!-- /ko -->

					<div class="input-group">
						<span class="input-group-addon" data-bind="css: { validationMessage : confirm.isModified() && ! confirm.isValid() }"><i class="fa fa-fw fa-lock"></i></span> <input data-bind="textInput: confirm" type="password" class="form-control" name="confirm" placeholder="Confirm Password">
					</div>
					
					<span class="help-block" data-bind="text: message"></span>

					<button class="btn btn-lg btn-primary btn-block" type="submit" data-bind="click: signUp, css: { invalid: ! isValid() }">Register</button>
				</form>
			</div>
		</div>
	</div>
	
</div>

</@page>
