<#-- Replace this file with your theme framework - only the body tags have been defined externally.
     This file MUST include an element with the id profoundInnerPage for hash replacement to work -->

<div class="container">

	<div class="starter-template">
		<h1>We know who you are</h1>
		<p class="lead">
			Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.
		</p>
		<a data-bind="click: logout">Logout</a>
	</div>
	
	<ul>
	<li><a href="#index.html">Welcome</a>
	<li><a href="#profile.html"></a>
	<li><a href="#logout.html">Logout</a>
	</ul>
		
	<p>Logged In</p>
	
	<div id="profoundInnerPage"></div>
	
    <footer class="footer">
      <div class="container">
        <p class="text-muted">Place sticky footer content here.</p>
      </div>
    </footer>
    	
	<script>
	var initialHash = window.location.hash;
	window.onlogin = function() {
		if (initialHash) {
			Profound.Util.setHash(initialHash);
			delete initialHash;
		} else {
			Profound.Util.setHash('index.html');
		}
	};
	</script>

</div>