<#-- Replace this file with your theme framework - only the body tags have been defined externally.
     This file MUST include an element with the id profoundInnerPage for hash replacement to work -->

<div class="wrapper skin-blue-light">

	<#include "authenticated-header.html"/>
	<#include "authenticated-sidebar.html"/>
	<#include "authenticated-content.html"/>

	<script>
		var initialHash = window.location.hash;
		window.onlogin = function() {
			if (initialHash) {
				Profound.Util.setHash(initialHash);
				delete initialHash;
			} else {
				Profound.Util.setHash('index.html');
			}
		};
	</script>

</div>