<#-- Replace this file with your theme framework - only the body tags have been defined externally.
     This file MUST include an element with the id profoundInnerPage for hash replacement to work -->

<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js"></script>

<div class="wrapper skin-blue-light">

	<#include "authenticated-header.html"/>
	<#include "authenticated-sidebar.html"/>
	<#include "authenticated-content.html"/>

	<script>
		var initialHash = window.location.hash;
		window.onlogin = function() {
			if (initialHash) {
				console.log('Initial has was ' + initialHash + ' - resetting');
				Profound.Util.setHash(initialHash);
				initialHash = null;
				delete initialHash;
			} else {
				console.log('Setting hash to index onlogin');
				Profound.Util.setHash('index.html');
			}
			$(window.AdminLTEInit);
		};
	</script>

</div>