<#-- Replace this file with your theme framework - only the body tags have been defined externally.
     This file MUST include an element with the id profoundInnerPage for hash replacement to work.
     This would be a great place to define your window.onlogout() function to set the hash to something useful. -->

<script>
</script>

<div class="login-page">
	<div class="login-box">
	
		<div class="login-logo">
			<a href="#"><b>Pro</b>found</a>
		</div>

		<div id="profoundInnerPage"></div>

	</div>
</div>

<script>
window.onlogout = function() {
	Profound.Util.setHash('login.html');
}
</script>
